mixin footer(index)
    .footer
        ul.clearfix
            - console.log(index,33333)
            li(class=index==1?"active":"")
                a.box(href="index.html")
                    i.work
                    span 我的主页
            li(class=index==2?"active":"")
                a.box(href="trading-center.html")
                    i.deal
                    span 交易中心
            li(class=index==3?"active":"")
                a.box(href="notice.html") 
                    i.info
                    span 公告资讯
            li(class=index==4?"active":"")
                a.box(href="my.html")
                    i.user
                    span 我的
mixin header($en)
    .header
        .logo
        if $en
            .right-btnBox
                .lang-box   
                    .img
                        img(src=imgUrl+'en.png')
                    span EN
